body {
    font-family: 'Lato', sans-serif !important;
}

.input-error {
    border-width: 1px;
    border-color: red;
}

.active-on-hover>a:hover {
    color: blue;
}

.remove-product {
    background-color: lightcoral;
    color: black;
    /*position: absolute;*/
    /*margin-left: 20vh;*/
    /*!*margin-top: -120px;*!*/
    /*margin-top: -12vh;*/
}

.inactive-on-hover {
    color: inherit;
}

.wishlistButtonText {
    font-size: 4vh;
}

.wishlisted {
    background-color: #f4fbf4;
}

.booked {
    background-color: #f4fbf4;
}

/*Rules for tablets/phones (Screens at 1024px or lower)*/
@media only screen and (max-width: 1024px) {
    /*.codeword {*/
    /*    width: 66%;*/
    /*}*/
}